<div class="container container-home">
    <div class="row">
        <div class="col-6 col-sm-3 card-home">
            <div class="card h-100" style="width: 18rem;">
                <img class="card-img-top" src="<%= @data["default_image"]["200x140"] %>" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title"> <%= @data["name"] %></h5>
                    <p class="card-text"> <%= @data["address"]["city"]%></p>
                    <a href="/home/show" class="btn btn-primary">Mais Informações</a>
                </div>
            </div>
        </div>
        
</div>

 

